<% if @delivery_executive.present? %>
  <%= title @delivery_executive.name.upcase %>
<% else %>
  <%= title 'Live View-DeliveryExecutives' %>
<% end %>
<div id="map_canvas"></div>
<!-- SlidingMarker hides details from you - your markers are just animated automagically -->
<script type="text/javascript" src="../../../../SlidingMarker.js"></script>
<script>
  SlidingMarker.initializeGlobally();
</script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
<!-- we use markerAnimate to actually animate marker -->
<script src="../../../../markerAnimate.js"></script>

<script>
  var map;
  var global_markers = {};

  var markers = <%= raw @delivery_hash.to_json %>;
//  var markers = [[17.463409, 78.370650,'trialhead1'], [17.477327, 78.397043, 'trialhead2']];


  var infowindow = new google.maps.InfoWindow({});

  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(17.450963, 78.372538);
    var myOptions = {
      zoom: 14,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    addMarker();
    listenForUpdates();
  }

  function addMarker() {
    for (var i = 0; i < markers.length; i++) {
      // obtain the attribues of each marker
      var lat = parseFloat(markers[i][0]);
      var lng = parseFloat(markers[i][1]);
      var person_name = markers[i][2];
      var person_last_seen = markers[i][3];
      var myLatlng = new google.maps.LatLng(lat, lng);
      var delivery_executive_id = markers[i][4];
      var speed = markers[i][5];


      console.log(person_name);

      var contentString = "<html><body><div><p><h2>" + person_name + "</h2></p><p>Last Seen: " +
          ""+person_last_seen+"<p>,Speed:"+speed+"</p></div></body></html>";

      var marker = new MarkerWithLabel({
        position: myLatlng,
        map: map,
        duration: 1000,
        easing: 'linear',
        title: "Coordinates: " + lat + " , " + lng + " | Trailhead name: " + person_name,
        labelContent: person_name,
        labelAnchor: new google.maps.Point(22, 30),
        labelClass: "labels", // the CSS class for the label
        labelStyle: {opacity: 0.78},
        infowindow: contentString
      });

      global_markers[delivery_executive_id] = marker;

      google.maps.event.addListener(global_markers[delivery_executive_id], 'mouseover', function() {
        infowindow.setContent(this['infowindow']);
        infowindow.open(map, this);
      });
      google.maps.event.addListener(global_markers[delivery_executive_id], 'mouseout', function() {
        infowindow.close(map, this);
      });
    }
  }

  function listenForUpdates(){
    var pusher = new Pusher("<%= Pusher.key %>", {
      encrypted: true
    });
    var channel = pusher.subscribe('delivery_executive');
    channel.bind("location_update", function(data) {
      data = data;
      console.log(data);
      lat = data['latitude'];
      long= data['longitude'];
      last_seen = data['last_seen'];
      speed = data['speed'];

      person_name = data['person_name'];
      updateDeliveryExecutiveMarker(data['delivery_executive_id'],lat,long,speed,last_seen,person_name);

    });
  }

  function updateDeliveryExecutiveMarker (id,lat,long,speed,last_seen,person_name){
    marker = global_markers[id];
    marker.setPosition(new google.maps.LatLng(lat,long)); //Will cause smooth animation

    var contentString = "<html><body><div><p><h2>" + person_name + "</h2></p><p>Last Seen: " +
        ""+last_seen+"<p>,Speed:"+speed+"</p></div></body></html>";
    marker['infowindow']=contentString;

    google.maps.event.addListener(global_markers[id], 'mouseover', function() {
      infowindow.setContent(global_markers[id]['infowindow']);
      infowindow.open(map, this);
    });
    google.maps.event.addListener(global_markers[id], 'mouseout', function() {
      infowindow.close(map, this);
    });


  }



  $(function(){initialize();})
</script>
