@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import '../mixins';

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.navbar.navbar-default {
  margin-bottom: 0;
  height: 100px;
  background-color: #fff;

  .container-fluid {
    height: 100px;
  }

  .navbar-header {
    height: 100px;
    width: 100%;

    .col-xs-4.header-menu-text {
      padding-top: 40px;

      ul.nav.navbar-nav li a:hover {
        color: #f15a22;
      }
    }

    .col-xs-4.logo {
      background-image: url(image-path('spoonly_grey.gif'));
      background-size: 125px auto;
      background-repeat: no-repeat;
      height: 100px;
      background-position: center bottom;
    }
  }
}
