@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import '../mixins';

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.navbar.navbar-default {
  margin-bottom: 0;
  height: 40px;
  background-color: #fff;

  .container-fluid {
    height: 40px;
  }

  .navbar-header {
    height: 40px;
    width: 100%;

    .col-xs-4.header-menu-text {

      ul.nav.navbar-nav li a:hover {
        color: #f15a22;
      }
    }

    .col-xs-4.logo {
      background-image: url(image-path('spoonly_text.png'));
      background-size: 125px auto;
      background-repeat: no-repeat;
      background-position: center top;
      top: 5px;
      height: inherit;
    }
  }
}


.container-fluid.main-content {
  padding-left: 0;
  padding-right: 0;
}

.footer {
  margin-top: 30px;
  padding-top: 20px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  border-top: 1px solid #ddd;
  bottom: 0;
}
