@import 'customer_common';

#customer_home {
  @include make-xs-column(12,0);

  .section-one,
  .section-two {
    @include make-xs-column(12,0);
  }

  .section-one {
    background-image: url(image-path('main_bg.jpg'));
    height: 500px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .form-horizontal {
      input {
        padding: 13px;
      }
      input.btn.btn-default {
        background-color: #f27242;
        color: #fff;
      }
      .city-location {
        display: inline-block;
        background-color: #fff;

        span {
          border-right: 1px solid #ddd;
          padding: 15px;
          color: #333333;
        }

        input {
          border: none;

          &:focus {
            outline: none;
            border: none !important;
            box-shadow: none !important;
          }
        }
      }
    }

    .col-xs-12 {
//      background-color: rgba(244,247,248,0.97);
      width: 50%;
      left: 25%;
      top: 25%;
      padding: 15px;
      height: 330px;
      min-height: 330px;

    }

    .text-container {
      margin: 14px;
      color: aliceblue;
      input{
        color: black;
      }
      h1,
      h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      h2 {
        margin-bottom: 0;
      }

      h1 {
        margin-top: 0;
      }
    }
  }
}

