@import 'customer_common';

.location-checkout-header {
  @include make-xs-column(12,120px);
  border-bottom: 1px solid #eee;
  padding-top: 16px;
  height: 55px;
  background-color: #fff;

  .day {
    text-align: center;
    color: #f19140;

    p {
      font-size: 16px;
      font-weight: 100;
      letter-spacing: 1px;
    }
  }

  .location {
    text-align: left;

    .fa-map-marker {
      font-size: 16px;
      color: #f19140;
    }

    p {
      display: inline;
    }

    a {
      color: #f19140;
    }
  }

  .checkout {
    top: -7px;
    text-align: right;

    img {
      width: 32px;
    }

    a {
      margin-left: 50px;
      color: #fff;
    }

    span.count {
      position: absolute;
      left: 90px;
      top: -4px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      background-color: #666;
      font-size: 12px;
      color: #fff;
    }

    span.fa.fa-inr {
      margin-left: 20px;
      font-size: 16px;

    }

    a.btn.btn-warning {
      height: 36px;
      width: 96px;
      padding: 0;
      padding-top: 0px;
      border-top-width: 0px;
      border-radius: 2px;
      background-color: #f38f31;

      span {
        padding-left: 8px;
        font-size: 12px;
        font-weight: 700;
      }

      .fa.fa-angle-right {
        height: 36px;
        width: 25px;
        font-size: 24px;
        top: 3px;
        position: relative;
      }
    }

    a.btn:hover {
      background-color: #e2660a;
    }
  }
}

#customer_menu {
  @include make-xs-column(12,0);

  .section-one {
    @include make-xs-column(12,0);
  }

  .section-one {
    background-image: cloudinary-url('cover_1.jpg');
    height: 380px;
    min-height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .menu-container {
      height: 200px;
      top: 90px;

      .col-xs-12.col-md-6 {
        cursor: pointer;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        padding: 0;
        background: #ECEEFF;
        opacity: 0.7;
      }

      .col-xs-12:first-of-type {
        margin-right: 90px;
      }

      .lunch,
      .dinner {
        text-align: center;
        margin-top: 24px;
        border-radius: 50%;
        margin-bottom: 15px;
        height: 200px;
        width: 200px;
        background-color: rgba(0,0,0,0.6);
        display: table-cell;
        vertical-align: middle;
        color: #fff;

        .category-name {
          font-size: 24px;
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
        }

        p.time {
          font-size: 14px;
        }

        .separator {
          border-bottom: 1px solid #b3b3b3;
          width: 36px;
          margin-left: calc(50% - 18px);
          margin-bottom: 5px;
        }
      }

      .dinner {
        .coming-soon {
          font-size: 16px;
        }
      }
    }
  }
}


#menu_lunch {

  .menu-row {
    @include make-xs-column(12,120px);
    padding-top: 30px;
    background-color: #F4F7F8;
  }

  .menu-row h1 {
    text-align: center;
    font-weight: 300;
  }

  .menu-row .col-xs-6 {
    .menu-card {
      margin-bottom: 15px;
      border-radius: 4px;
      box-shadow: 0px 10px 16px rgba(0,0,0,0.1);

      .menu-img img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      .menu-details {
        padding: 10px;
        height: 100px;

        .btn-primary{
          background-color: #F47239;
          border: 0px;
        }

        .minus,
        .plus {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid #bcbcbc;
          text-align: center;
          display: inline-block;
        }

        .count {
          margin: 0 15px;
          display: inline-block;
        }

        .menu-name,
        .menu-price,
        .menu-desc {
          margin-bottom: 0;
        }

        .menu-name,
        .menu-price {
          font-family: 'Dosis', sans-serif;
          font-weight: 300;
          font-style: normal;
          /* text-decoration: none; */
          letter-spacing: 1px;
          font-size: 16px;
        }

      }
    }
  }

  #menu_unavailable_modal {
    margin-top: 180px;

    .modal-content {
      height: 180px;
    }

    .modal-header {
      border: none;
    }

    .modal-body {
      text-align: center;
      padding: 30px;
    }

    p.msg-big {
      font-size: 18px;
    }

    p.msg {
      color: #fdae37;
      font-weight: 700;
      font-size: 15px;
      cursor: pointer;
    }
  }

}
