@import 'customer_common';

.location-checkout-header {
  @include make-xs-column(12,0);
  border-bottom: 1px solid #ddd;
  padding-top: 16px;
  height: 55px;

  .location {
    text-align: center;

    p {
      display: inline;
    }

    a {
      color: #f19140;
    }
  }

  .checkout {
    top: -7px;
    text-align: right;
    a {
      color: #fff;
    }
  }
}

#customer_menu {

  .section-one {
    @include make-xs-column(12,0);
  }

  .section-one {
    background-image: url(image-path('home_bg_2.jpg'));
    height: 600px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .menu-container {
      height: 360px;
      top: 64px;
      background: #ECEEFF;
      opacity: 0.95;

      .message {
        @include make-xs-column(12,0);
        margin: 15px;
        text-align: center;

        p {
          font-size: 20px;
        }
      }

      .lunch,
      .dinner {
        text-align: center;
        margin-top: 24px;

        a img {
          border-radius: 50%;
          margin-bottom: 15px;
        }

        p:first-of-type {
          font-size: 18px;
          text-transform: uppercase;
        }

        p.time {
          font-size: 14px;
          color: #808080;
        }

        .separator {
          border-bottom: 1px solid #b3b3b3;
          width: 36px;
          margin-left: calc(50% - 18px);
          margin-bottom: 5px;
        }
      }

      .dinner {
        .coming-soon {
          font-size: 16px;
          color: #123;
        }
      }
    }
  }
}


#menu_lunch {
  .menu-row {
    @include make-xs-column(12,15px);
  }

  .menu-row h1 {
    text-align: center;
    font-weight: 300;
  }

  .menu-row .col-xs-6 {
    .menu-card {
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0px 10px 16px rgba(0,0,0,0.1);

      .menu-img {
        padding: 1px;
      }

      .menu-details {
        padding: 10px;

        .menu-name,
        .menu-price,
        .menu-desc {
          margin-bottom: 0;
        }

      }
    }
  }

  #menu_unavailable_modal {

    .modal-header {
      border: none;
    }

    .modal-body {
      text-align: center;
    }

    p.msg-big {
      font-size: 18px;
    }

    p.msg {
      color: #fdae37;
      font-weight: 700;
      font-size: 15px;
      cursor: pointer;
    }
  }

}
