@import 'customer_common';

#orders_new {
  @include make-xs-column(12,12%);
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F4F7F8;

  .orders-process-list {
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .orders-process-list {

    li {
      border: 1px solid #ddd;
      box-shadow: 0 5px 15px #888;
      background: #fff;

      .title {
        color: #808080;
        margin: 0px;
        padding: 10px;
        background: #fff;
        text-align: left;
        text-transform: uppercase;

        .fa {
          height: 13px;
          width: 13px;
          border-radius: 50%;
          background-color: grey;
          color: #fff;
          line-height: 13px;
          text-align: center;
          font-size: 10px;
        }

        span.details {
          text-transform: none;
          font-weight: 400;
          padding-left: 100px;
        }
      }

      .active {
        background: #666;
        color: #fff;
        font-weight: 700;
      }

      .content {
        margin: 10px;
      }

      &.sign-in {

        .content {
          @include make-xs-column(12,0);
        }
      }

      .content {
        .form-group {
          margin-bottom: 5px;
        }

        .form-control {
          display: inline;
          width: 200px;
        }
      }

      &.address {

        .new_address {
          text-align: left;

          form {
            background-color: #fff;
          }

          .address_type {
            label {
              text-align: left;
              padding-left: 0;
            }

            input[type="radio"] {
              margin-right: 10px;
            }
          }

          .submit {
            padding-left: 15px;
          }
        }

        .addresses {
          padding: 20px 100px;
        }

        .select-address-container {
          width: 300px;
          height: 100px;
          float: left;
          padding: 10px 0;
          border: 1px solid #ddd;
          border-radius: 2px;
          margin: 0 20px 20px;
          cursor: pointer;

          .selected{
            height: 16px;
            width: 16px;
            line-height: 16px;
            border-radius: 50%;
            color: #fff;
            background: #f38f30;
            font-size: 12px;
            position: absolute;
            bottom: 25px;
            left: 40px;
          }
        }
      }

      &.order_confirmation {
        /*
         *min-height: 420px;
         */
      }
    }
  }


  .orders-process-list {

    .sign-in,
    .phone_number_verification,
    .address,
    .order_confirmation {
      @include make-xs-column(12,0);

      .col-xs-4 {
        padding: 0;
      }
    }

    .saved-info {
      top: 9px;
    }
  }
}
