@import 'customer_common';

#orders_new {
  @include make-xs-column(12,12%);
  padding-top: 30px;
  padding-bottom: 30px;

  .orders-process-list {
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .orders-process-list {

    li {
      border: 1px solid #ddd;
      background: #fff;

      .title {
        color: #808080;
        margin: 0px;
        padding: 10px;
        background: #fff;
        text-align: left;
        text-transform: uppercase;

        .fa {
          height: 13px;
          width: 13px;
          border-radius: 50%;
          background-color: grey;
          color: #fff;
          line-height: 13px;
          text-align: center;
          font-size: 10px;
        }

        span.details {
          text-transform: none;
          font-weight: 400;
          padding-left: 100px;
        }
      }

      .active {
        background: #808080;
        color: #fff;
        font-weight: 700;
      }

      .content {
        margin: 10px;
      }

      &.sign-in {

        .content {
          @include make-xs-column(12,0);
        }
      }

      .content {
        .form-group {
          margin-bottom: 5px;
        }

        .form-control {
          display: inline;
          width: 200px;
        }
      }

      &.address {
        p {
          margin-bottom: 0;
        }

        .new_address {
          padding-top: 30px;
          text-align: left;

          form {
            background-color: #fff;

            label {
              color: #9D9D9D;
              font-weight: 500;
              padding-right: 50px;
            }

            .cancel {
              padding-left: 15px;
              width: 100px;
            }
          }

          .address_type {
            top: 7px;

            label {
              text-align: left;
              padding-left: 0;
              padding-right: 0;
              color: #000;
            }

            input[type="radio"] {
              margin-right: 10px;
            }
          }

          .submit {
            padding-left: 15px;
          }
        }

        .addresses {
          @include make-xs-column(12,0);
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 160px;

          .new_address_btn {
            padding-right: 110px;
          }

          .add_office {
            font-size: 11px;
            font-weight: 700;
          }

          #confirm_address {
            padding-right: 92px;

            .btn-action {
              float: right;
              width: 200px;
            }
          }
        }

        .select-address-container {
          width: 300px;
          height: 130px;
          float: left;
          padding: 10px 0;
          border: 1px solid #ddd;
          border-radius: 2px;
          margin: 0 20px 20px;
          cursor: pointer;

          .selected{
            height: 16px;
            width: 16px;
            line-height: 16px;
            border-radius: 50%;
            color: #fff;
            background: #f38f30;
            font-size: 12px;
            position: relative;
            bottom: 25px;
            left: 40px;
          }
        }
      }

      &.order_confirmation {
        /*
         *min-height: 420px;
         */
      }
    }
  }


  .orders-process-list {

    .sign-in,
    .phone_number_verification,
    .address,
    .order_confirmation {
      @include make-xs-column(12,0);

      .col-xs-4 {
        padding: 0;
      }
    }

    .col-xs-4.saved-info {
      text-align: left;
      top: 9px;
      padding-left: 50px;
      color: #808080;
    }
  }
}

#order_content {
  .content {
    padding-left: 120px;
    padding-right: 120px;
  }
  .order-headers span {
    text-transform: uppercase;
    color: #919191;
    font-weight: 300;
  }

  .order-headers {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    text-align: left;
  }

  .order-items {
    @include make-xs-column(12,0);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;

    .col-xs-12 {
      padding-bottom: 10px;
    }

    .product-name span {
      font-weight: bold;
    }

    .price span {
      color: #868686;
    }

    .quantity {
      text-align: center;
    }

    .total {
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;

      p {
        margin: 0;
        padding-top: 10px;
      }

      span:first-of-type {
        padding-right: 20px;
        color: #868686;
      }
    }
  }

  form {

    input[type="submit"] {
      float: right;
    }

    .msg {
      color: #868686;
    }
  }
}
