.section-two#about
  %h2.title What's for lunch?
  %h3.title
    Finally has an easy answer
  .sep


  .about-section
    .col1.pic
      = image_tag "hot_food.jpg"
    .col2.text.text-1
      %p.about-section-text-title Daily Menus
      %p.about-section-text-desc
        Treat yourself with a different meal everyday, thanks to our daily changing menus.

      %p.about-section-text-title.spacer Chef Made Meals:
      %p.about-section-text-desc
        Our Chefs believe in creating the right fusion of Indian and International cuisines from across the globe.

      %p.about-section-text-title.spacer Fresh Ingredient, Tasty Meals
      %p.about-section-text-desc
        Who said healthy food can't also be delicious? Our chefs use fresh and seasonal ingredients to make affordable, tasty and nourishing meals.
    .about-section-title
      Fresh & Wholesome

  .about-section
    .col1.text.text-2
      %p.about-section-text-title Web and Mobile app
      %p.about-section-text-desc
        Whether you're on your laptop or smart phone, we've got you covered. Order via web or mobile as per your
        convenience.
    .col2.pic
      = image_tag "responsive-web-icon.png"
    .about-section-title.tap-to-order
      %p Tap to
      %p Order

  .about-section
    .col1.pic
      = image_tag "rider.jpg"
    .col2.text.text-3
      %p.about-section-text-title Delivered at your convenience
      %p.about-section-text-desc
        Hungry and want your food right away? Our riders deliver
        your meals in a jiffy.
    .about-section-title
      On time delivery

  .about-section.location-form-container
    %h2.title Start eating better now!
    -#%h3.desc Start eating better now!
    -#Add the below input later
    -#- if controller_name=='homes'
    -#  .location-form
    -#    = render "customer/homes/location_form"

  .about-section-testimonals
    .testimonals-heart
      %i.fa.fa-heart
    %h2 What our customers have to say?

    .testimonals-holder
      .testimony
        %span.name Ravi,
        %span.city Hyderabad
        .comment
          %i.fa.fa-quote-left
          %span I really like the idea of a daily changing menu. Love the food and packaging.
          %i.fa.fa-quote-right

      .testimony
        %span.name Harsha,
        %span.city Hyderabad
        .comment
          %i.fa.fa-quote-left
          %span  Good lunch menu options at a decent price!
          %i.fa.fa-quote-right

      .testimony
        %span.name Goutham,
        %span.city Hyderabad
        .comment
          %i.fa.fa-quote-left
          %span The food is very good. I love that I can order in advance and specify a delivery time.
          %i.fa.fa-quote-right

