.section-two#about
  %h3.title How it Works?

  .about-section
    .col1.pic
      = image_tag "food-dome.png"
    .col2.text.text-1
      %p.about-section-text-title Daily Menus
      %p.about-section-text-desc
        Life can get boring, but your food won’t. Treat yourself with a different meal everyday, thanks to our daily changing menus.

      %p.about-section-text-title.sep Locally Sourced Ingredients
      %p.about-section-text-desc
        A building is only as strong as its foundation, food is no different. Only the best ingredients go into making your meal.

      %p.about-section-text-title.sep Experienced Chefs
      %p.about-section-text-desc
        Experience is the best teacher and our chefs are good students. Your meals are powered by the lessons taught in the school of time. We have got your meal covered.
    .about-section-title
      Fresh & Homely

  .about-section
    .col1.text.text-2
      %p.about-section-text-title Web and Mobile app
      %p.about-section-text-desc
        The size of your screen won’t get in between you and your meal. Order via web or mobile as per your convenience.
    .col2.pic
      = image_tag "responsive-web-icon.png"
    .about-section-title
      Ease of ordering

  .about-section
    .col1.pic
      = image_tag "time-management.png"
    .col2.text.text-3
      %p.about-section-text-title Express Delivery
      %p.about-section-text-desc
        You hate to wait and we know that. We won’t keep you away from your food for long. Our riders deliver your meals in a jiffy.
    .about-section-title
      Delivery in less than 30 mins

  .about-section.location-form-container
    %h1.title We are just next-door!
    %h3.desc One doesn't keep their food waiting, place your order!
    - if cookies[:customer]
      %p WIP
    -else
      .location-form
        = render "customer/homes/location_form"

