.download-app
  #android.text-center
    .top
      .logo
        = image_tag 'spoonly_referral_logo.gif'
      .features
        %p Chef Made Meals
        %p Fresh & Wholesome
        %p Daily Changing Menu
    .sep
    .app
      %h2 GET THE APP
      %p Takes less than a minute

      %a{:href => "https://play.google.com/store/apps/details?id=com.freshspoon.spoonly"}
        %img{:alt => "Get it on Google Play", :src => "https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"}/

