.location-checkout-header
  .col-xs-4
    - if date.present?
      %p= date
  .col-xs-4.location
    - if @locality.present?
      %p= @locality
      = link_to "Change", main_customer_homes_path,data: { no_turbolink: true }

  - if params[:controller] == "customer/menus" && params[:action] == "lunch"
    .col-xs-4.checkout
      = render 'customer/shared/checkout',cart_count: cart_count
