#menu_unavailable_modal.modal{:title => "My modal", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role=> "dialog"}

  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      .modal-body
        %p.msg-big Lunch orders for today are closed.
        %a{"aria-hidden" => "true", "data-dismiss" => "modal"}
          %p.msg View Tomorrow's menu

:javascript

  $('#menu_unavailable_modal').modal('show');

