#menu_unavailable_modal.modal.fade.show{:title => "My modal"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel New Post
  .modal-body.a-unique-class
    New Post Body
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} View Tomorrow's menu