= title 'Dinner Menu'
- if @menu.menu_date!=Date.current
  -#= render 'customer/menus/menu_tomorrow'

Date:
= @menu.menu_date.strftime("%a %d,%b ")

- @menu.menu_dinner_products.includes(:product).each do |menu_product|
  = render 'customer/menus/menu_product_preview',menu_product: menu_product

.row-fluid
  = link_to 'Checkout',new_customer_order_path
