= title 'Awesome Fresh Meals'
#customer_menu
  = render 'location', date: nil
  .section-one
    .col-xs-12
      .col-md-offset-4.col-md-6.menu-container
        .col-xs-12.col-md-6{'data-link' => lunch_customer_menus_path}
          .lunch{'style'=>"border: 1px solid rgba(256,256,256,.6)"}
            .category-name
              Lunch
            .separator
            %p.time 12pm | 3pm

        .col-xs-12.col-md-6{'data-link' => dinner_customer_menus_path}
          .dinner{'style'=>"border: 1px solid rgba(256,256,256,.6)"}
            .category-name
              Dinner
            .separator
            %p.coming-soon Coming Soon
  = render 'customer/homes/how_it_works'
:javascript
  analytics.page('Menus Home');
