- if @menu.menu_date!=Date.today
  -#= render 'customer/menus/menu_unavailable'

Date:
= @menu.menu_date.strftime("%a %d,%b ")
- @menu.menu_lunch_products.each do |menu_product|
  = render 'customer/menus/menu_product_preview',menu_product: menu_product

.row-fluid
  = link_to 'Checkout',new_customer_order_path(menu_date: @menu_date)

:javascript
   //$(window).load(function(){
   //       $('#menu_unavailable_modal').modal('show');
   //   });