= "#{@referrer.name} gifted you Rs 50"

%a{:href => "https://play.google.com/store/apps/details?id=com.freshspoon.spoonly"}
  %img{:alt => "Get it on Google Play", :src => "https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"}/