.row
  :javascript
    var initialize = function(){

    console.log('initializing');
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher("#{Pusher.key}", {
      encrypted: true
    });
    var channel = pusher.subscribe('orders');
    channel.bind('purchased', function(data) {

    var sound = new Howl({
      urls: ["#{asset_path('new_order.mp3')}"],
      loop: true
    }).play();

    setTimeout(function(){
      location.reload();
    }, 5000);

    });

    }
    initialize();
    //$(function(){ initialize(); })
    //$(document).on('page:load',initialize)


