%nav.navbar.navbar-default
  .container-fluid
    .row
      .col-xs-4.header-menu-text

      .col-xs-4.text-center.logo
        = link_to "/" do
          = image_tag 'spoonly_text.png'
      .col-xs-4.login
        %ul
          - if user_signed_in?
            %li= link_to "My Account",customer_account_path
          - else
            %li= link_to 'Sign in'
