%nav.navbar.navbar-default
  .container-fluid
    .row
      .col-xs-4.header-menu-text

      .col-xs-4.text-center.logo
        = link_to "/" do
          = image_tag 'spoonly_text.png'
      .col-xs-4.login
        %ul
          - if user_signed_in?
            %li= link_to "My Account", customer_account_path
          - else
            %li= link_to 'My Account', "#guest_login", {"data-toggle" => "modal", "role" => "button"}

            #guest_login.modal{:title => "Login", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role=> "dialog"}
              .modal-dialog
                .modal-content
                  .modal-header
                    .col-xs-6
                      %h3.text-left Login
                    .col-xs-6
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  .modal-body
                    .col-xs-6
                      .social-auth-button.fb-button
                        %i.fa.fa-facebook
                        %span Facebook
                    .col-xs-6
                      .social-auth-button.google-button
                        %i.fa.fa-google
                        %span Google

                    .col-xs-12.text-center.msg
                      %p We do not post anything on your wall.

          -#= render 'user/guest_login'
