$all_text_color: #000;
$all_bg_color: #b69b9b;

$pending_text_color: #fff;
$pending_bg_color: red;

$acknowledged_text_color: #fff;
$acknowledged_bg_color: orange;

$dispatched_text_color: #fff;
$dispatched_bg_color: green;

$delivered_text_color: #fff;
$delivered_bg_color: #6c3333;
