.row-fluid
  .span8.offset2
    .widget
      .widget-header
        %i.icon-plus
        %span Edit
      .widget-content
        = render 'form'
        = link_to 'Show', [:company,@menu]
        = link_to 'Back', [:company,:menu]