

%a{"data-behavior" => "link", "data-style" => "light", "data-text" => "Add 200",
"data-token" => "1de0bcd6325cee2bd15a1beb86d224f8", :href => "https://www.instamojo.com/Spoonly/spoonly-wallet-recharge-40e3a/?embed=form&data_hidden=data_Field_35054&data_readonly=data_name&data_readonly=data_email&data_readonly=data_phone&data_readonly=data_amount&data_email=#{current_user.email}&data_name=#{current_user.name}&data_phone=#{current_user.phone_number}&intent=buy&data_Field_35054=#{current_user.id}",:rel => "im-checkout"}
%script{:src => "https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"}

-#https://www.instamojo.com/Spoonly/spoonly-wallet-recharge-40e3a/?embed=form&data_hidden=data_Field_35054&data_readonly=data_name&data_readonly=data_email&data_readonly=data_phone&data_readonly=data_amount&data_email=simhaece@gmail.com&data_name=Narasimha%20Reddy&data_phone=8179422804&intent=buy&data_Field_35054=15
-#https://www.instamojo.com/Spoonly/spoonly-wallet-recharge-rs-200/?embed=form&data_hidden=data_Field_35054&data_readonly=data_name&data_readonly=data_email&data_readonly=data_phone&data_readonly=data_amount&data_email=simhaece@gmail.com&data_name=Narasimha%20Reddy&data_phone=8179422804&intent=buy&data_Field_35054=15
-#https://www.instamojo.com/Spoonly/spoonly-wallet-recharge-400/?embed=form&data_hidden=data_Field_35054&data_readonly=data_name&data_readonly=data_email&data_readonly=data_phone&data_readonly=data_amount&data_email=simhaece@gmail.com&data_name=Narasimha%20Reddy&data_phone=8179422804&intent=buy&data_Field_35054=15

-#https://www.instamojo.com/Spoonly/spoonly-wallet-recharge-rs-200/?embed=form&data_hidden=data_Field_35054&data_readonly=data_name&data_readonly=data_email&data_readonly=data_phone&data_readonly=data_amount&data_email=simhaece@gmail.com&data_name=Narasimha%20Reddy&data_phone=8179422804&intent=buy&data_Field_35054=15


-#For android..use the below link for Rs 200
-#https://www.instamojo.com/Spoonly/spoonly-wallet-recharge-04b9d/?embed=form&data_hidden=data_Field_96618&data_readonly=data_name&data_readonly=data_email&data_readonly=data_phone&data_readonly=data_amount&data_email=simhaece@gmail.com&data_name=Narasimha%20Reddy&data_phone=8179422804&intent=buy&data_Field_96618=15&data_amount=200