#my_account.user-profile
  = render 'profile_sidebar'
  .content
    .col-xs-6.balance
      %span.msg Available Balance
      %span.inr
        %i.fa.fa-inr
      %span.amount= current_user.wallet.balance
    .col-xs-6.text-right
      = link_to 'Add Money to Wallet',add_money_customer_wallet_path, class: "btn btn-action"
