- if company_user_signed_in?
  %li= link_to current_company_user.email,''
  %li= link_to "Logout", destroy_company_user_session_path,method: :delete
- else
  %li= link_to "Sign in", new_company_user_session_path