.row-fluid
  .span8.offset2
    .widget
      .widget-header
        %i.icon-plus
        %span Add Growth Partner
      .widget-content
        = render 'form'
        = link_to 'Back', [:company,:growth_partners]